body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}
.hero {
  background-color: #2e2f42;
}
.heroh {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.captionst {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}
.captions {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue, #2e2f42);
}
.sections {
  background-color: #f4f4fd;
}
.uls {
    background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.list {
    background-color: #FFFFFF;
}
.link {
  text-decoration: none;
}
.studio-h {
    color: #2e2f42;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
  color: #f4f4fd;
}
.nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link {
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.address {
  font-style: normal;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.btnh {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.btnh:hover,
.btnh:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.btn-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.btn-all:hover,
.btn-all:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.subjectp {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}
.parp {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
.textp {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2e2f42;
}
